<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="${LOG_DIR}" />
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyy-MM-dd HH:mm:ss} %-5p %c{1}:%L = %m%n</Pattern>
        </layout>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/chatty-api.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyy-MM-dd HH:mm:ss} %-5p %c{1}:%L = %m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>chatty-api.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console" />
    </root>

    <logger name="com.example.restservice" level="DEBUG">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
    </logger>

</configuration>